/* index.css */
header {
	background: rgba(255, 255, 255, 0.9);
	position: sticky;
	top: 0;
	z-index: 10001;
	backdrop-filter: blur(5px);

	& nav {
		padding: var(--line-height) var(--body-padding-x);

		& .logo-wrapper {
			margin: auto;

			& a {
				display: block;
				height: 6rem;
				width: 6rem;

				background-image: url(../assets/images/aig-logo.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				overflow: hidden;
			}
		}
	}
}

main {
	& section {
		padding: 0 var(--body-padding-x);

		& .hero-wrapper {
			margin: 0 auto;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-top: calc(var(--line-height) * 2);

			& .hero-text {
				max-width: 48ch;
				& * {
					opacity: 0;
					transform: translateY(20px);
				}
				& p {
					margin-bottom: var(--line-height);
				}
			}

			& .hero-focal {
				flex: 1 1 0;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				& img {
					margin: 0;
					max-width: 320px;
					object-fit: cover;
					border-radius: 50%;
				}
			}
		}

		& .proof-wrapper {
			margin: 0 auto;
			padding: calc(var(--line-height) * 2) 0;

			& .proof-number {
				font-size: clamp(2.5rem, 10vw, 8rem);
				margin-top: clamp(3rem, 9vw, 8rem);
				margin-bottom: clamp(1rem, 5vw, 4rem);
			}

			& .locations {
				display: flex;
				gap: calc(var(--unit) * 4);
				z-index: 10;
			}

			& .pins-box {
				margin-top: -100px;
				width: 100%;
				position: relative;
				padding-right: calc(var(--unit) * 4);

				@media (--viewport-s) {
				}

				& .pins {
					position: relative;
					max-width: 500px;
					min-height: 300px;
					margin-left: auto;

					& .pin {
						position: absolute;
						cursor: grab;
						background: var(--blue);
						color: var(--background-color);
						font-size: 0.789rem;
						border-radius: var(--unit);
						padding: var(--unit) calc(var(--unit) * 2);
						box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
						user-select: none;

						&::after {
							content: "";
							position: absolute;
							bottom: -10px;
							left: 20px;
							border-width: 10px 10px 0;
							border-style: solid;
							border-color: var(--orange) transparent;
							width: 0;
							height: 0;

							&.dragging {
								cursor: grabbing;
							}
						}
					}
				}
			}
		}

		& .mission-wrapper {
			margin: 0 auto;

			& .mission-text {
				& * {
					opacity: 0;
					transform: translateY(20px);
				}
			}
		}
	}
}
