/* index.css */
header {
	padding: var(--body-padding-x) var(--body-padding-x) 0;

	& .logo-wrapper {
		max-width: calc(var(--unit) * 152);
		margin: auto;

		& a {
			display: block;
			height: 6rem;
			width: 6rem;

			background-image: url(../assets/images/aig-logo.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			overflow: hidden;
		}
	}

	& .hero-wrapper {
		margin: 0 auto;

		& .hero {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-top: calc(var(--line-height) * 2);

			& .hero-text {
				max-width: 48ch;

				& * {
					opacity: 0;
					transform: translateY(20px);
				}

				& p {
					margin-bottom: var(--line-height);
				}
			}

			& .hero-focal {
				flex-grow: 1;
				display: flex;
				justify-content: center;

				& img {
					margin: 0 auto;
					max-width: 300px;
					object-fit: contain; /* or "contain" depending on your needs */
				}
			}
		}
	}
}

main {
	& section {
		padding: 0 var(--body-padding-x);
		background: var(--blue);
	}

	& .proof-wrapper {
		margin: 0 auto;
	}
}
